<!DOCTYPE html>

<!-- TODO: ここに気の利いたことを書く -->

<html lang="ja">
<html>
	<head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %} でも {{ config.title }}</title>
    </head>
    <body>
        <div class="content">
            {% block content %}{% endblock content %}
        <div class="content">
    </body>
</html>
