{% extends "base.html" %}

{% block title %}かけたやつ{% endblock title %}

{% block content %}
    {% set posts = get_section(path="post/_index.md") %}
    {% for page in posts.pages %}
        <article>
            <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
            <h2>{{ page.description }}</h2>
            <h2>{{ page.date }}</h2>
        </article>
    {% endfor %}
{% endblock content %}
