{% extends "base.html" %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <article>
        {{page.content | safe}}
    </article>
{% endblock content %}
